{% extends "layout.jinja2" %}
{% import "macros.jinja2" as macros %}

{% block title %}Announcement {{ announcement.name }}{% endblock %}
{% block nav_ann %}active{% endblock %}

{% block content %}
    <h1>{{ announcement.name }}</h1>
    <a href="/admin/admin-new/launcher-announcements">&lt;- Back</a>
    <dl class="row">
        {{ macros.details_row("Id", announcement.id) }}
        {{ macros.details_row("Created At", announcement.created_at|format_datetime) }}
        {{ macros.details_row("Active From", announcement.active_from|format_datetime) }}
        {{ macros.details_row("Active To", announcement.active_to|format_datetime) }}
        {{ macros.details_row("Os", announcement.os|format_enum) }}
        {{ macros.details_row("Onetime", announcement.onetime|format_bool) }}
        {{ macros.details_row("Text", announcement.text) }}
    </dl>

    <button class="btn btn-warning">[TODO] Edit</button>
{% endblock %}
