{% extends "layout.jinja2" %}
{% import "macros.jinja2" as macros %}

{% block title %}Update {{ update.name }}{% endblock %}
{% block nav_updates %}active{% endblock %}

{% block content %}
    <h1>{{ update.name }}</h1>
    <a href="/admin/admin-new/launcher-updates">&lt;- Back</a>
    <dl class="row">
        {{ macros.details_row("Id", update.id) }}
        {{ macros.details_row("Code", update.code) }}
        {{ macros.details_row("Created At", update.created_at|format_datetime) }}
        {{ macros.details_row("size", update.size|format_size) }}
        {{ macros.details_row("Public", update.public|format_bool) }}
        {{ macros.details_row("Os", update.os|format_enum) }}
        {{ macros.details_row("Changelog", update.changelog) }}
        {{ macros.details_row("Directory Id", update.dir_id) }}
    </dl>

    <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#edit-update-modal">Edit</button>

    <div class="modal fade" id="edit-update-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edit update</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="POST" id="edit-update-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name-input" class="form-label fw-bold">Name</label>
                            <input type="text" class="form-control" id="name-input" name="name" required value="{{ update.name }}">
                        </div>
                        <div class="mb-3">
                            <label for="changelog-input" class="form-label fw-bold">Changelog</label>
                            <textarea class="form-control" id="changelog-input" name="changelog" required>{{ update.changelog }}</textarea>
                        </div>
                        <div class="mb-3 form-check">
                            <label for="public-checkbox" class="form-label form-check-label">Public</label>
                            <input type="checkbox" class="form-check-input" id="public-checkbox" name="public" {% if update.public %}checked{% endif %}>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="edit-update-form">Edit</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
