{% extends "layout.jinja2" %}
{% import "macros.jinja2" as macros %}

{% block title %}User {{ user.nickname }}{% endblock %}
{% block nav_users %}active{% endblock %}

{% if user.banned %}
    {% set ban_text = "Unban" %}
{% else %}
    {% set ban_text = "Ban" %}
{% endif %}

{% block content %}
    <h1>{{ user.nickname }}</h1>
    <a href="/admin/admin-new/users" class="">&lt;- Back</a>
    <dl class="row">
        {{ macros.details_row("Id", user.id) }}
        {{ macros.details_row("Email", user.email) }}
        {{ macros.details_row("Nickname", user.nickname) }}
        {{ macros.details_row("Banned", user.banned|format_bool) }}
        {{ macros.details_row("Admin", user.admin|format_bool) }}
        {{ macros.details_row("Has Mfa", user.mfa_key|format_bool) }}
        {{ macros.details_row("Created At", user.created_at|format_datetime) }}
    </dl>
    <div>
        <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#ban-user-modal">{{ ban_text }}</button>
        <button class="btn btn-primary ms-2" data-bs-toggle="modal" data-bs-target="#edit-user-modal">Edit</button>
    </div>

    <div class="modal fade" id="ban-user-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">{{ ban_text }} user?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p class="">Are you sure you want to {{ ban_text|lower }} this user?</p>
                    <form action="{{ user.id }}/toggle-ban" method="POST" id="ban-user-form"></form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="ban-user-form">{{ ban_text }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="edit-user-modal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Edit user</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% if edit_error %}
                        <div class="alert alert-danger" role="alert">
                            {{ edit_error }}
                        </div>
                    {% endif %}

                    <form action="" method="POST" id="edit-user-form">
                        <div class="mb-3">
                            <label for="nickname-input" class="form-label fw-bold">Nickname</label>
                            {% if edit_form_nickname %}
                                {% set nick = edit_form_nickname %}
                            {% else %}
                                {% set nick = user.nickname %}
                            {% endif %}
                            <input type="text" class="form-control" id="nickname-input" name="nickname" required autocomplete="off" value="{{ nick }}">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" form="edit-user-form">Edit</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", () => {
            {% if ban_error %}
                new bootstrap.Modal(document.getElementById("ban-user-modal")).show();
            {% endif %}
            {% if edit_error %}
                new bootstrap.Modal(document.getElementById("edit-user-modal")).show();
            {% endif %}
        });
    </script>
{% endblock %}
