name: Pytest
on:
  pull_request:
    types: [opened]
  push:

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4

      - name: Install Poetry
        run: pipx install poetry

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"

      - name: Install dependencies
        run: poetry install --no-root --no-interaction --all-extras --with test

      - name: Run tests
        run: |
          poetry run pytest --disable-warnings tests
        env:
          DATABASE_URL: "sqlite://:memory:"
          S3_ENDPOINT: "http://no-s3.local"
          S3_ACCESS_KEY_ID: "key_id"
          S3_SECRET_ACCESS_KEY: "access_key"

      - name: Print coverage report
        run: |
          poetry run coverage report

      #- name: Upload coverage reports to Codecov
      #  uses: codecov/codecov-action@v5
      #  with:
      #    token: ${{ secrets.CODECOV_TOKEN }}